In [1]:
import pandas as pd
import numpy as np

How to Read Data from csv?

In [8]:
data = pd.read_csv('/home/vishalthadari/Documents/Train.csv')

In [9]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

How to see the First Five Entries?

In [10]:
data.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350

Check the number of Columns in Dataset

In [11]:


# Solution 1

data.shape[0]

8523

In [12]:
# Solution 2

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
Item_Identifier              8523 non-null object
Item_Weight                  7060 non-null float64
Item_Fat_Content             8523 non-null object
Item_Visibility              8523 non-null float64
Item_Type                    8523 non-null object
Item_MRP                     8523 non-null float64
Outlet_Identifier            8523 non-null object
Outlet_Establishment_Year    8523 non-null int64
Outlet_Size                  6113 non-null object
Outlet_Location_Type         8523 non-null object
Outlet_Type                  8523 non-null object
Item_Outlet_Sales            8523 non-null float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.1+ KB

Check Number of the Columns in the Dataset?

In [13]:
data.shape[1]

12

check the name of all the columns?

In [14]:
data.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

Most expensive Item Id and its MRP

In [18]:
c = data.groupby('Item_Identifier')
c = c.sum()
c = c.sort_values(['Item_MRP'], ascending=False)
c.head(1)

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
Item_Identifier,,,,,
FDU12,108.5,0.789815,2371.0112,17966,29793.2184

 What is the most expensive item_type and its MRP?

In [21]:
c = data.groupby('Item_Type')
c = c.sum()
c = c.sort_values(['Item_MRP'], ascending=False)
c.head(1)

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
Item_Type,,,,,
Fruits and Vegetables,13476.04,84.407946,178124.081,2461191,2.820060e+06

Total amount of products we have?

In [24]:
total_items_orders = data.Item_MRP.sum()
total_items_orders

1201681.4808

In [38]:
data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

Turn the Outlet_Establishment_Year into float

In [44]:
data['Outlet_Establishment_Year']=data.Outlet_Establishment_Year.astype(float)

In [45]:
data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year    float64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

Now undo it

In [43]:
data['Outlet_Establishment_Year']=data.Outlet_Establishment_Year.astype(int)

Total Revenue

In [69]:
revenue = (data['Item_MRP']* data['Item_Outlet_Sales']).sum()

print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $3135240104.1

How many orders were made in the period?

In [66]:
orders = data.Item_Outlet_Sales.value_counts()
orders

958.7520     17
1342.2528    16
1845.5976    15
703.0848     15
1278.3360    14
1230.3984    14
1416.8224    13
1438.1280    12
759.0120     12
575.2512     12
1211.7560    12
539.2980     12
852.2240     11
1537.9980    11
1701.7848    11
639.1680     11
679.1160     11
2109.2544    11
2277.0360    11
1406.1696    11
1304.9680    11
2696.4900    10
1470.0864    10
1006.6896    10
2117.2440    10
2956.1520    10
1821.6288    10
2348.9424    10
918.8040     10
1677.8160    10
             ..
6911.0040     1
3837.0054     1
4821.7236     1
2526.0452     1
3211.8192     1
670.4606      1
2706.4770     1
316.2550      1
4483.4972     1
2119.9072     1
2925.5252     1
3542.7218     1
6275.1650     1
1803.6522     1
2764.4016     1
3073.9986     1
1311.6260     1
6524.8400     1
1998.7316     1
1599.9174     1
5329.0632     1
4610.6650     1
3938.8728     1
233.0300      1
7478.2656     1
3167.8764     1
2226.4352     1
1684.4740     1
1574.6170     1
6692.6216     1
Name: Item_Outlet_Sales, Length: 3493, dtype: int64

revenue amount per order?

In [72]:
# Solution 1

data['revenue'] = data['Item_MRP'] * data['Item_Weight']
order_grouped = data.groupby(by=['Item_Outlet_Sales']).sum()
order_grouped.mean()['revenue']

3686.4138048874947

How many DIfferent Items

In [74]:
data.Item_Identifier.value_counts().count()

1559